<style>
    body{
    
    background-image: url('<%=ORSView.APP_CONTEXT%>/img/lib.jpg');
        background-size: 100%;
    
    
    }
    .cl{
      font-family: Lucida Calligraphy; 
    
     /*  font-family: Monotype Corsiva;
      
     font-family: Footlight MT Light; */
      }
    </style>
  <app-navbar></app-navbar>
  
  <div>  
  
    <div class="row " style="padding-top: 10%; padding-bottom: 50%; background-image: url(../../assets/files/front1.jfif);
  background-attachment: fixed;
    background-size: cover; width:auto;
      height: auto;"><p class="text-cs1 font-family ml-4" style="padding-left: 35%; font-size: 45px; color: rgb(16, 13, 231);">WELCOME TO ORS</p></div>
  </div>
  
  <app-footer></app-footer>


